<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Thursday 9 March</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:00</td>        <!-- time    -->
        <td>
          <a href="https://datacarpentry.org/python-ecology-lesson/01-short-introduction-to-Python/index.html">Start</a>
        </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               
        <td>11:15</td>        
        <td>
          <a href="https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset/index.html">Continue Workshop</a>
        </td>        
      </tr>
      <tr>               
        <td>12:30</td>        
        <td>Lunch</td>        
      </tr>
      <tr>               
        <td>13:30</td>        
        <td>
          <a href="https://datacarpentry.org/python-ecology-lesson/04-data-types-and-format/index.html">Continue Workshop</a>
        </td>        
      </tr>
      <tr>               
        <td>14:45</td>        
        <td>Break</td>        
      </tr>      
      <tr>               
        <td>15:00</td>        
        <td>
          <a href="https://datacarpentry.org/python-ecology-lesson/08-putting-it-all-together/index.html">Continue Workshop</a>
        </td>        
      </tr>
      <tr>               
        <td>16:30</td>        
        <td>Teaching ends</td>        
      </tr>
      <tr>               
        <td>16:30</td>        
        <td><a href="">Feedback</a> Q&A and close</td>        
      </tr>
      <tr>
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
